html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #0e0e0e;
}
@layer components {
  .btn-color {
    @apply rounded-md border-2 border-zinc-500 ml-5 mt-3;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
