.outer-div {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 300px;
  color: white;
  margin-left: 45%;
  margin-top: 15%;
  font-weight: bold;
  font-family: Verdana;
}
.color-name {
  margin-top: 50px;
  margin-left: 28%;
  font-size: 26px;
}
.btn-gen {
  width: 150px;
  margin-top: 20px;
  margin-left: 25%;
  background-color: transparent;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-family: Verdana;
  border: 2px solid white;
  cursor: pointer;
}
